
.header{
    margin-top:25px ;
    display: flex;
    height: 400px;
 
}
.header-left{
    background-color: #ddd;
    flex: 3;
    padding: 30px;
    border-radius: 12px ;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    margin: 0 45px 30px 0;
}
.header-right{
    flex: 2;
}
.header-right-img{
    position: relative;
    width: 350px;
    height: 350px;
    background-color: rgb(162, 162, 231);
    border-radius: 50%;
}
.header-right img{
    width: 300px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    border:#6366f1 solid 2px;
    left: 25px;
    top: 25px;
}
.header-left-top span{
    font-size: 24px;
    color: #666;
}
.header-left-top h1{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    color: #333;
}
.header-left-top h3{
    text-align: center;
    font-size: 20px;
    color: #6366f1;
}
.header-left span{
    font-size: 16px;
    color: #444;
    font-weight: 600;
}
.header-left p {
    font-size: 16px;
    color: #666;
    text-indent: 2em;
}
.button-1{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: #6366f1;
    color: #ffffff;
    text-align: center;
    border: none;
}
.button-2{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
    text-align: center;
    border:#6366f1 2px solid;
}
